<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CollegeShare</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="table.css">
  <link rel="icon" href="favicon2.png"/>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CollegeShare</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <% if(title==="home"){ %>
              <a class="nav-link active" href="/">Home
            <% }else{ %>
              <a class="nav-link" href="/">Home
            <% } %>
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <% if(title==="upload"){ %>
              <a class="nav-link active" href="/upload">Upload
            <% }else{ %>
              <a class="nav-link" href="/upload">Upload
            <% } %>
              </a>
          </li>
          <li class="nav-item">
            <% if(title==="download"){ %>
              <a class="nav-link active" href="/download">Download
            <% }else{ %>
              <a class="nav-link" href="/download">Download
            <% } %>
              </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <% if(title==="admin"){ %>
              <a class="nav-link active" href="/admin">Admin
            <% }else{ %>
              <a class="nav-link" href="/admin">Admin
            <% } %>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/pranjaljoshi05/">Developer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
