<%- include('partials/header', {title: "success"}); -%>
<div class="alert alert-dismissible alert-success">
  <h4 class="alert-heading">Well Done!</h4>
  <p class="mb-0">You have successfully uploaded the file. Your content will be reviewed and if found suitable, it will be added to our database. You will shortly recieve an email regarding this.
    <br>Thank you for contributing to CollegeShare. 😊</p>
</div>
</body>

</html>
